.column{
    padding: 20px;
    margin: 10px 10px 10px 0;
}
.content-1{
    background-color: rgb(81, 130, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}